* {
    text-decoration: none;
    
}

form{
    background: rgb(238, 235, 235);
    height: fit-content;
    width: fit-content;
    margin: 10% 40%;
    position: relative;
    
    
}
button{
    background-color: rgb(238, 235, 235);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 110px;
    height: 80px;
}

table{
    margin: 40px 14px;
    width: fit-content;
    padding-bottom: 10px;
    border-color: aqua;  
    
}

input{
    text-align: right;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    border: none;
    background: rgb(238, 235, 235);}


